@model VerifyViewModel

<div class="container-content">

    <div class="panel panel-default">
        <div> @Model.Message</div>
        <div>@Model.Amount</div>
        <div>@Model.Mobile</div>
        <div>@Model.ErrorMessage</div>
        <div>@Model.CardNumber</div>
        <div>@Model.Description</div>
        <div>@Model.FactorNumber</div>
    </div>

</div>

