@model VerifyViewModel

<div class="container-content">

    <div class="panel panel-default">
        @if (Model.Status == "1")
        {
            <div class="alert alert-success">
                <div>مبلغ : @Model.Amount</div>
                <div>شماره تراکنش : @Model.TransId</div>
                <div>شماره موبایل :  @Model.Mobile</div>
                <div>شماره کارت :  @Model.CardNumber</div>
                <div>شماره فاکتور :  @Model.FactorNumber</div>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <div>مبلغ : @Model.Amount</div>
                <div>شماره تراکنش : @Model.TransId</div>
                <div>شماره موبایل :  @Model.Mobile</div>
                <div>شماره کارت :  @Model.CardNumber</div>
                <div>شماره فاکتور :  @Model.FactorNumber</div>
                <div>پیغام خطا :  @Model.ErrorMessage</div>
            </div>
        }

    </div>

</div>

