@model Site.Core.Infrastructures.DTO.CourseDetailDTO

<div class="container">
    <section class="term-content">
        <header><h1> @Model.CourseTitle </h1></header>
        <div class="row">

            <div class="col-md-8 col-sm-12 col-xs-12 pull-left">
                <section class="term-description">
                    <img src="@Url.Content("~/images/CourseImages/"+ Model.ImageName)" />

                    @Html.Raw(Model.CourseDescription)

                    <h2> سرفصل های این دوره : </h2>
                    <ul>
                        @foreach (var item in Model.Episods)
                        {
                            <li>
                                <h3> @item.EpisodTitle </h3>
                                @if (item.IsFree)
                                {
                                    <i> رایگان </i>
                                }
                                else
                                {
                                    <i> نقدی </i>
                                }
                                <span>@item.EpisodeTime.ToString().Substring(0, 8)</span>
                            </li>

                        }
                    </ul>
                </section>

                <section class="user-comments">
                    <header><h3> نظرات کاربران </h3></header>
                    <div class="inner">
                        <form>
                            <div class="row">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="نام و نام خانوادگی">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="ایمیل">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="شماره تماس">
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="متن نظر"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-7 col-xs-7">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="کد امنیتی">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 col-xs-5">
                                            <img src="images/captcha.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-success"> ثبت دیدگاه </button>
                                </div>
                            </div>
                        </form>

                        <div class="comment-list">
                            <!-- row -->
                            <div class="comment-row">
                                <img src="images/pic/avatar.jpg">
                                <div class="left-col">
                                    <h3> میترا رحیمی </h3>
                                    <span>12/03/1397</span>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                    </p>
                                </div>
                            </div>
                            <!-- /row -->
                            <!-- row -->
                            <div class="comment-row">
                                <img src="images/pic/avatar.jpg">
                                <div class="left-col">
                                    <h3> میترا رحیمی </h3>
                                    <span>12/03/1397</span>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                    </p>
                                </div>
                            </div>
                            <!-- /row -->
                            <!-- row -->
                            <div class="comment-row">
                                <img src="images/pic/avatar.jpg">
                                <div class="left-col">
                                    <h3> میترا رحیمی </h3>
                                    <span>12/03/1397</span>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                    </p>
                                </div>
                            </div>
                            <!-- /row -->
                            <!-- row -->
                            <div class="comment-row">
                                <img src="images/pic/avatar.jpg">
                                <div class="left-col">
                                    <h3> میترا رحیمی </h3>
                                    <span>12/03/1397</span>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                    </p>
                                </div>
                            </div>
                            <!-- /row -->
                            <!-- row -->
                            <div class="comment-row">
                                <img src="images/pic/avatar.jpg">
                                <div class="left-col">
                                    <h3> میترا رحیمی </h3>
                                    <span>12/03/1397</span>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                    </p>
                                </div>
                            </div>
                            <!-- /row -->

                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true"><i class="zmdi zmdi-chevron-right"></i></span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true"><i class="zmdi zmdi-chevron-left"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </section>
            </div>

            <aside class="col-md-4 col-sm-12 col-xs-12 pull-right">
                <div class="statistics">
                    <ul>
                        <li>
                            <span> مدت دوره </span>

                            <i>@Model.TotalEpisodTime.ToString().Substring(0, 8) </i>
                        </li>
                        <li>
                            <span> تعداد ویدیوها </span>
                            <i> @Model.Episods.Count()</i>
                        </li>
                        <li>
                            <span> تعداد دانشجوها </span>
                            <i>@Model.OrderCount </i>
                        </li>
                    </ul>

                    @if (Model.CoursePrice >= 1000)
                    {
                        <a asp-controller="Order" asp-action="Create" id="SendPartnership"> شرکت در دوره : @Model.CoursePrice.ToString("#,0") تومان <img src="~/images/ajax-loader.gif" id="loader" hidden /> </a>
                    }
                    <div class="text-danger" id="ShowError" hidden="hidden"></div>
                </div>

                <article class="teacher-info">
                    <img src="@Url.Content("~/images/UserProfile/"+Model.TeacherUserName)" style="width:20px;height:20px;" />
                    <h2> مدرس : @Model.TeacherUserName </h2>
                </article>

                <article class="term-info">
                    <h2> اطلاعات این دوره </h2>
                    <ul>
                        <li>سطح دوره: @Model.CourseStatusTitle</li>
                        <li>وضعیت دوره: @Model.CourseLevelTitle</li>
                        @if (Model.CoursePrice >= 1000)
                        {
                            <li>قیمت : @Model.CoursePrice.ToString("#,0") تومان</li>
                        }
                        else
                        {
                            <li> رایگان </li>
                        }
                        <li>تاریخ ثبت این دوره : @Model.CreateDate.ToShamsi()</li>
                        <li>آخرین بروزرسانی دوره : @Model.UpdateDate?.ToShamsi()</li>
                    </ul>
                </article>

                <div class="share-layer">
                    <span> به اشتراک گذاری </span>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                </div>

                @if (Model.Keywords != null)
                {
                    <div class="tags-layer">
                        @foreach (var tag in Model.Keywords)
                        {
                            <a href="/Course/Index?KeyWordTitle=@tag.Title"> @tag.Title </a>
                        }
                    </div>
                }

            </aside>
        </div>
    </section>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#SendPartnership").click(function (e) {
                e.preventDefault();
                $("#loader").show();
                var CourseID =@Model.CourseID;
                $.ajax({
                    url: '/Order/Create',
                    method: 'GET',
                    dataType: 'Json',
                    data: {
                        CourseID
                    },
                    success: function (result) {
                        if (result.status == "Success") {
                            $("#loader").hide();
                            $("#ShowError").show().empty();
                            $("#ShowError").attr("class", "text-success").text(result.messageWhenSuccessed);
                        } else if (result.status == "Error") {
                            $("#ShowError").show().empty();
                            $("#loader").hide();
                            $.each(result.errors, function (index, value) {
                                $("#ShowError").append("- " + index + " - " + value);
                            });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $("#ShowError").show();
                        $("#ShowError").html(" - " + ajaxOptions + ": " + thrownError);
                        $("#loader").hide();
                    }
                });

            });
        });
    </script>
}
