@model Site.Web.Models.CourseViewModel.CourseDetailVm

<div class="container">
    <section class="term-content">
        <header><h1> @Model.CourseDetail.CourseTitle </h1></header>
        <div class="row">

            <div class="col-md-8 col-sm-12 col-xs-12 pull-left">
                <section class="term-description">
                    <img src="@Url.Content("~/images/CourseImages/"+ Model.CourseDetail.ImageName)" />

                    @Html.Raw(Model.CourseDetail.CourseDescription)

                    <h2> سرفصل های این دوره : </h2>
                    <ul>
                        @foreach (var item in Model.CourseDetail.Episods)
                        {
                            <li>
                                <a class="link alert-link" asp-controller="Order" asp-action="DownloadFile" asp-route-EpisodId="@item.EpisodID">
                                    <h3> @item.EpisodTitle </h3>
                                    @if (item.IsFree)
                                    {
                                        <i> رایگان </i>
                                    }
                                    else
                                    {
                                        <i> نقدی </i>
                                    }
                                    <span>@item.EpisodeTime.ToString().Substring(0, 8)</span>
                                </a>
                            </li>

                        }
                    </ul>
                </section>

                <section class="user-comments">
                    <header><h3> نظرات کاربران </h3></header>
                    <div class="inner">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <partial name="CreateCommentPartialView" model="null" />
                        }
                        else
                        {
                            <div><p class="text-danger">برای ثبت نظر باید <a asp-action="LogIn" asp-area="" asp-controller="Account" asp-route-ReturnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">وارد</a> اکانت خود شوید </p></div>
                        }
                        <div class="comment-list" id="listComment">
                            <partial name="CommentListPartialView" model="@Model.PagedComment" />
                        </div>
                    </div>
                </section>
            </div>

            <aside class="col-md-4 col-sm-12 col-xs-12 pull-right">
                <div class="statistics">
                    <ul>
                        <li>
                            <span> مدت دوره </span>

                            <i>@Model.CourseDetail.TotalEpisodTime.ToString().Substring(0, 8) </i>
                        </li>
                        <li>
                            <span> تعداد ویدیوها </span>
                            <i> @Model.CourseDetail.Episods.Count()</i>
                        </li>
                        <li>
                            <span> تعداد دانشجوها </span>
                            <i>@Model.CourseDetail.OrderCount </i>
                        </li>
                    </ul>

                    @if (Model.CourseDetail.CoursePrice >= 1000)
                    {
                        <a asp-controller="Order" asp-action="Create" id="SendPartnership"> شرکت در دوره : @Model.CourseDetail.CoursePrice.ToString("#,0") تومان <img src="~/images/ajax-loader.gif" id="loader" hidden /> </a>

                        if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger" id="BuyStatus"><p>@TempData["Message"]</p></div>
                        }

                    }

                    <div class="text-danger" id="ShowError" hidden="hidden"></div>
                </div>

                <article class="teacher-info">
                    <img src="@Url.Content("~/images/UserProfile/"+Model.CourseDetail.TeacherUserName)" style="width:20px;height:20px;" />
                    <h2> مدرس : @Model.CourseDetail.TeacherUserName </h2>
                </article>

                <article class="term-info">
                    <h2> اطلاعات این دوره </h2>
                    <ul>
                        <li>سطح دوره: @Model.CourseDetail.CourseStatusTitle</li>
                        <li>وضعیت دوره: @Model.CourseDetail.CourseLevelTitle</li>
                        @if (Model.CourseDetail.CoursePrice >= 1000)
                        {
                            <li>قیمت : @Model.CourseDetail.CoursePrice.ToString("#,0") تومان</li>
                        }
                        else
                        {
                            <li> رایگان </li>
                        }
                        <li>تاریخ ثبت این دوره : @Model.CourseDetail.CreateDate.ToShamsi()</li>
                        <li>آخرین بروزرسانی دوره : @Model.CourseDetail.UpdateDate?.ToShamsi()</li>
                    </ul>
                </article>

                <div class="share-layer">
                    <span> به اشتراک گذاری </span>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                </div>

                @if (Model.CourseDetail.Keywords != null)
                {
                    <div class="tags-layer">
                        @foreach (var tag in Model.CourseDetail.Keywords)
                        {
                            <a href="/Course/Index?KeyWordTitle=@tag.Title"> @tag.Title </a>
                        }
                    </div>
                }

            </aside>
        </div>
    </section>
</div>
@section Scripts{
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        var sendajaxWhenPagenationClick = function (e) {
            var x = e.target.title;
            $.ajax({
                url: '/Course/GetComments',
                method: 'GET',
                data: {
                    CourseId:@Model.CourseDetail.CourseID,
                    CurrentPageNumber: x
                },
                dataType: 'html',
                success: function (result) {
                    $("#loader2").hide();
                    $('#listComment').html(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#ShowError2").show();
                    $("#ShowError2").html(" - " + ajaxOptions + ": " + thrownError);
                    $("#loader2").hide();
                }
            });
        };

        $(document).ready(function () {
            $('#CommnetSubmit').attr('disabled', true);
            $('textarea').on('keyup', function () {
                var textarea_value = $("#Body").val();
                if (textarea_value != '') {
                    $('#CommnetSubmit').attr('disabled', false);
                } else {
                    $('#CommnetSubmit').attr('disabled', true);
                }
            });
        });

        var SubmitComment = function (e2, sender) {
            e2.preventDefault();

            var model = $("#CreateComment").serializeArray();
            var Number = 1;
            model.push({ name: "CurrentPageNumber", value: Number });

            $("#loader2").show();

            $.ajax({
                url: $('#CreateComment').attr('action'),
                method: 'POST',
                data: model,
                success: function (result, status, xhr) {
                    $("#loader2").hide();
                    var ct = xhr.getResponseHeader("content-type") || "";
                    if (ct.indexOf('html') > -1) {
                        $("#ShowError2").show().empty();
                        $("#Body").val("");
                        $('#listComment').html(result);
                    }
                    if (ct.indexOf('json') > -1) {
                        if (result.status == "Error") {
                            $("#ShowError2").show().empty();
                            $.each(result.errors, function (index, value) {
                                $("#ShowError2").append("- " + index + " - " + value);
                            });
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#ShowError2").show();
                    $("#ShowError2").html(" - " + ajaxOptions + ": " + thrownError);
                    $("#loader2").hide();
                }
            }).done(function () {
                $('#CommnetSubmit').attr('disabled', true);
            });
        };
    </script>
    <script>
        $(document).ready(function () {

            $("#SendPartnership").click(function (e) {

                e.preventDefault();
                $("#loader").show();
                var CourseID =@Model.CourseDetail.CourseID;
                $.ajax({
                    url: '/Order/Create',
                    method: 'GET',
                    dataType: 'Json',
                    data: {
                        CourseID
                    },
                    success: function (result) {
                        if (result.status == "Success") {
                            $("#loader").hide();
                            $("#ShowError").show().empty();
                            $("#BuyStatus").hide();
                            $("#ShowError").attr("class", "text-success").text(result.messageWhenSuccessed);
                        } else if (result.status == "Error") {
                            $("#ShowError").show().empty();
                            $("#loader").hide();
                            $("#BuyStatus").hide();
                            $.each(result.errors, function (index, value) {
                                $("#ShowError").append("- " + index + " - " + value);
                            });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $("#ShowError").show();
                        $("#ShowError").html(" - " + ajaxOptions + ": " + thrownError);
                        $("#loader").hide();
                    }
                });
            });
        });

    </script>
}