@model Site.Web.Models.CourseViewModel.IndexViewModel

<div class="container">
    <form id="formFilter" asp-controller="Course" asp-action="LiveSearch" method="get">
        <section class="term-categories">
            <div class="top-bar">
                <header>
                    <h1> دوره های <span> برنامه نویسی </span> </h1> <span> @Model.Paging.PagedResult.PageData.TotalItem دوره </span>
                </header>

                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
                        <div class="input">
                            <input class="form-control  col-sm-8" type="text" asp-for="@Model.Searchkeyvalue" value="@Model.Searchkeyvalue" placeholder="موضوع مورد نظر ...">
                            <button onclick="SendAjax(event,1);" class="btn btn-default glyphicon glyphicon-search"></button><img src="~/images/ajax-loader.gif" id="loader" hidden />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                        <div class="switch-field available">
                            <span hidden id="Radiochecker">@Model.Paging.SearchParameter.PriceStatusType</span>

                            <input id="available-filter-1" asp-for="@Model.Paging.SearchParameter.PriceStatusType" value="All" type="radio">
                            <label for="available-filter-1"> همه </label>
                            <input id="available-filter-2" asp-for="@Model.Paging.SearchParameter.PriceStatusType" value="Cash" type="radio">
                            <label for="available-filter-2"> خریدنی </label>
                            <input id="available-filter-3" asp-for="@Model.Paging.SearchParameter.PriceStatusType" value="Free" type="radio">
                            <label for="available-filter-3"> رایگان </label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pull-left">
                        <label class="control-label col-sm-4"> ترتیب براساس</label>
                        <select class="form-control col-sm-8" asp-for="@Model.Paging.SearchParameter.OrderStatusType" asp-items="Html.GetEnumSelectList<OrderStatusType>()"></select>
                    </div>
                </div>
            </div>

            <div class="row">

                <aside class="col-lg-3 col-md-4 col-sm-12 col-xs-12">

                    <section class="aside-section filter-by-price">
                        <header>
                            <h3> فیلتر بر اساس قیمت </h3>
                        </header>
                        <div class="price-range">
                            <input value="1000" type="hidden" asp-for="@Model.Paging.SearchParameter.StartingPrice">
                            <input value="2000000" type="hidden" asp-for="@Model.Paging.SearchParameter.EndOfPrice">
                            <div class="price-bar">
                                <div id="priceFilter"></div>
                            </div>
                            <div class="max-price">تا <span id="max-text"></span> تومان</div>
                            <div class="min-price">از <span id="min-text"></span> تومان</div>
                            <div class="clearfix"></div>
                        </div>
                    </section>

                    <section class="aside-section filter-by-category">
                        <header>
                            <h3> دسته بندی موضوعات </h3>
                        </header>
                        <div class="inner text-right">
                            <ul>
                                @for (int item = 0; item < Model?.Paging?.SearchParameter?.CourseGroups?.Count; item++)
                                {
                                    <li class="checkbox">
                                        <label id="Flag" class="control-label">

                                            <input asp-for="@Model.Paging.SearchParameter.CourseGroups[item].Checked" value="@Model.Paging.SearchParameter.CourseGroups[item].Checked" id="Check" type="checkbox" />
                                            <i class="glyphicon glyphicon-chevron-left"></i>
                                            @Model.Paging.SearchParameter.CourseGroups[item].Title

                                        </label>

                                        <input type="hidden" asp-for="@Model.Paging.SearchParameter.CourseGroups[item].Id" />
                                    </li>
                                }
                            </ul>
                        </div>
                    </section>

                </aside>

                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

                    <section class="terms-items">
                        <div class="row" id="Changeable">
                            <div id="ShowError" class="text-danger" hidden></div>
                            <partial name="_PagedCourselistPartialView" model="Model.Paging.PagedResult" />
                        </div>
                    </section>

                </div>
            </div>
        </section>
    </form>
</div>

@section Scripts{
    <script src="~/css/noUiSlider/nouislider.min.js"></script>
    <script src="~/js/script.js"></script>

    <script type="text/javascript">
        var sendajaxWhenPagenationClick = function (e) {
            e.preventDefault();
            var x = e.target.title;
            SendAjax(e, x);
        };

        var SendAjax = function (e, Number) {
            e.preventDefault();
            var model = $("#formFilter").serializeArray();
            model.push({ name: "PageNumber", value: Number });

            $("#loader").show();

            $.ajax({
                url: $('#formFilter').attr('action'),
                method: 'GET',
                data: model,
                dataType: 'html',
                success: function (result) {
                    $("#loader").hide();
                    $('#Changeable').html(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#ShowError").show();
                    $("#ShowError").html(" - " + ajaxOptions + ": " + thrownError);
                    $("#loader").hide();
                }
            });
        };

        $(document).ready(function () {

            var slider = document.getElementById('priceFilter');
            noUiSlider.create(slider, {
                start: [1000, 2000000],
                step: 5000,
                connect: true,
                direction: 'rtl',
                range: {
                    'min': 1000,
                    'max': 2000000
                }
            });

            var marginMin = document.getElementById('min-text'),
                marginMax = document.getElementById('max-text');

            slider.noUiSlider.on('update', function (values, handle) {
                var xvalue = Math.round(values[handle]);
                if (handle) {
                    marginMax.innerHTML = xvalue;
                } else {
                    marginMin.innerHTML = xvalue;
                }
                //console.log(values[handle]);
            });

            slider.noUiSlider.on('change', function (values, handle) {
                var xvalue = Math.round(values[handle]);
                if (handle) {
                    // setGetParameter('max_price', xvalue);
                    $('#Paging_SearchParameter_EndOfPrice').val(xvalue);
                } else {
                    // setGetParameter('min_price', xvalue); "
                    $('#Paging_SearchParameter_StartingPrice').val(xvalue);
                }
            });


            slider.noUiSlider.on('slide', function (values, handle) {

                console.log(values[0]);
                console.log(values[1]);

                var xvalue = Math.round(values[handle]);
                //updateSliderRange( Math.round(values[0]), Math.round(values[1]) );
            });

            function updateSliderRange(min, max) {
                slider.noUiSlider.updateOptions({
                    range: {
                        'min': min,
                        'max': max
                    }
                });
            };

            var text = $('#Radiochecker').text();
            if (text == 'All') {
                $('#available-filter-1').prop("checked", true);
            }
            else if (text == 'Cash') {
                $('#available-filter-2').prop("checked", true);
            }
            else if (text == 'Free') {
                $('#available-filter-3').prop("checked", true);
            }


        });
        
    </script>

}