@model UserProfileViewModel
<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_ProfileViewPartialView" model="Model" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content" >
                        <header><h1> داشبورد </h1></header>
                        <div class="inner">
                            <div class="account-information" id="Changable">
                                <h3> اطلاعات کاربری </h3>
                                <ul>
                                    <li> <i class="zmdi zmdi-assignment-account"></i> نام کاربری : @Model.UserName </li>
                                    <li> <i class="zmdi zmdi-email"></i>ایمیل : @Model.Email  </li>
                                    <li> <i class="zmdi zmdi-account"></i> شماره تلفن : @Model.PhoneNumber </li>
                                    <li> <i class="zmdi zmdi-calendar-check"></i> تاریخ عضویت : @Model.RegisterDate</li>
                                    <li> <i class="zmdi zmdi-account"></i> موجودی حساب : @Model.AccountBalance تومان </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>