@model Site.Core.Infrastructures.DTO.PagedResult<Course>

<section class="terms-items">
    <div class="row">
        @foreach (var item in Model.ListItem)
        {
            <!-- col -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                <article>
                    <a href="/course/detail?courseid=@item.Id" class="img-layer"><img src="@Url.Content("~/images/CourseImages/CourseImageThumb/"+@item.ImageName)" /></a>
                    <h2><a href="/course/detail?courseid=@item.Id"> @item.CourseTitle </a></h2>

                    @if (@item.CoursePrice == 0)
                    {
                        <span class="text-success">رایگان</span>
                    }
                    else
                    {
                        <span class="text-success">@item.CoursePrice.ToString("#,0")</span>
                    }
                    <i>@item.TotalEpisodTime.ToString().Substring(0, 8)</i>
                </article>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group" id="dataTables-example_paginate">
                <nav Page-data="@Model.PageData" page-action="Index" page-controller="Course" page-active-ajax-sender="true"></nav>
            </div>
        </div>
    </div>
</section>